body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#master {
  background-color: #157CB0;
  width: 100vw;
  overflow-y: auto;
}

#top-row {
    padding-top: 20px;
}

#logo-area {
  text-align: center;
}

#opponent-info {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.avatar > img {
  width: 65px;
}

.avatar {
  text-align: center;
}

@keyframes glowing {
  0% { box-shadow: 0 0 -10px #FFFFFF; }
  40% { box-shadow: 0 0 20px #FFFFFF; }
  60% { box-shadow: 0 0 20px #FFFFFF; }
  100% { box-shadow: 0 0 -10px #FFFFFF; }
}

.me-avatar-active {
  border-radius: 150px;
  width: 80px;
  text-align: center;
  animation: glowing 5000ms infinite;
}

.op-avatar-active {
  border-radius: 150px;
  width: 120px;
  text-align: center;
  animation: glowing 5000ms infinite;
}

.avatar > p {
  margin-top: 3px;
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
}

#end-turn {
  margin-top: 30px;
  text-align: right;
  padding-right: 40px;
}

#end-turn button {
  font-weight: 700;
}

#main-board {
  display: flex;
  align-content: center;
  justify-content: center; 
}

#bottom-row {
  padding-top: 20px;
  padding-bottom: 30px;
}

#self-info {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  align-items: center;
  color:white;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
  font-size: 1.2em;
}

#self-info > p {
  margin-bottom: 0px;
  font-weight: 500;
}

#rack-container {
  display: flex;
  flex-direction: column;
}

#rack-title {
  height: 30px;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
  font-weight: bold;
}

#rack-row {
  justify-content: center;
}

#rack {
  background-color: #966f33;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  border: 6px solid #6e5000;
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.6);
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.6);
  margin-bottom: 40px;
}

#board {
  background: rgb(102,177,0);
  background: radial-gradient(circle, rgba(102,177,0,1) 0%, rgba(20,40,0,1) 107%);
  border: 3px solid black;
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.6);
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.6);
}

#pull-tile {
  margin-top: 30px;
  text-align: right;
  padding-right: 40px;
}

#pull-tile button {
  font-weight: 700;
}

.turn-btn {
  font-size: 1em;
  min-width: 150px;
  margin-top: 15px;
}

.admin-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 10px;
}

.admin-btn-container .small-btn {
  min-width: 80px;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 700;
}

#rules-body {
  font-size: 14px;
}

.modal-header {
  text-align: center;
  font-weight: bold;
  margin-left: 30px;
}

.modal-body {
  margin-right: 30px;
}

.modal-footer {
  justify-content: center;
}

#tile-style img {
  vertical-align: text-top;
}